/* ---- reset ---- */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}


/* ---- typography ---- */
@import url('https://fonts.googleapis.com/css?family=Lato');

h1, h2, h2, h3, h4, p {
  font-family: 'Lato', sans-serif;
}
h1 {
  font-size: 44px;
  font-weight: bolder;
  color: #699CC6;
  letter-spacing: -2px;
}
h1, h2, h3, p {
  text-align: center;
}
p {
  margin: 20px 30px 20px 20px;
  font-weight: bold;
  color: #615375;
  letter-spacing: 1.5px;
}
h2 {
  font-size: 27px;
  font-weight: bolder;
  color: #E15560;
}
h3 {
  padding-bottom: 20px; 
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1.93px;
  color: white;
}
blockquote {
  font-size: 16px;
  color: #4E7594;
  text-align: center;
}
h4 {
  font-size: 18px;
  font-weight: bold;
  color: #9D7087;
}
ul {
  text-align: center;
}
li {
  font-size: 15px;
  color: #84203C;
  list-style-type: none;
}

/* ---- layout ---- */


.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* ---- header ---- */

/* ---- footer ---- */

/* ---- components ---- */
.container {
  padding: 20px;
  width: 100%;
  background-color: #F08949;
  height: 76px;
}
.parent-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-self: center;
  align-items: center;
}
.child-div {
  padding-top: 20px;
  height: auto;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.another-child {
  text-align: center;
}
.person-buttons {

}
.childaside-div {
  padding-top: 20px;
  height: auto;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.aside-div {
  padding-top: 20px;
  height: auto  ;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.video-box {
  width: 80%;
}
footer{
  height:50px;
  width:100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  position:fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
nav div{
  display: inline-block;
  height:50%;
  }
iframe {
  text-align: center;
  height: auto;
  width: 80%;
}
button {
  color: #E15560;
  border-color: #804141;
  border-width: 2px;
  width: 266px;
  height: 53px;
  font-size: 23px;

}

/* ---- css shame ---- */

